# Ignore MNIST and EMNIST datasets
Binary Classifier Test/data/MNIST/
Binary Classifier Test/data/EMNIST/

Binary Classifier Test/models/model.pth

data/EMNIST
models/model.pth

# Ignore everything in the models folder
/The Monet Project/models/*